.col-md-6.col-md-offset-3 
  #pics.transistions-enabled
    - @pics.each do |pic|
      .box.panel.panel-default 
        = image_tag pic.picture if pic.picture.attached?
        .panel-body
          .row 
            .col-md-10
              %h2= link_to pic.title, pic
            .col-md-2
              .pull-right 
                = link_to like_pic_path(pic), data: { turbo_method: :put }, class: 'btn btn-default' do 
                  - if (pic.get_upvotes.size == 0)
                    %span.glyphicon.glyphicon-heart-empty
                  - else  
                    %span.glyphicon.glyphicon-heart 
                  = pic.get_upvotes.size